# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
.DS_Store
.devcontainer-lock.json

#JS
node_modules/
package-lock.json
coverage/

# misc
.coverage
coverage.xml
.ruff_cache
.mypy_cache

# Home Assistant configuration
config/*
!config/configuration.yaml

# Generated JS polygons card
custom_components/oref_alert/cards/oref-alert-polygons.js
