name: Metadata

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  metadata:
    name: Metadata sync
    runs-on: self-hosted
    steps:
      - name: Clean up workspace
        run: find "${GITHUB_WORKSPACE:?}" -mindepth 1 -maxdepth 1 -exec rm -rf -- {} +

      - name: Checkout the repository
        uses: actions/checkout@v6.0.1
        with:
          path: repo

      - name: Set up Python
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | env UV_UNMANAGED_INSTALL="$(pwd)" sh
          ./uv venv .venv --python 3.14

      - name: Install requirements
        run: .venv/bin/uv pip install --prerelease allow -r repo/requirements.txt

      - name: Regenerate metadata
        shell: bash
        run: |
          for i in {1..3}; do
            echo "Attempt $i"
            .venv/bin/python repo/scripts/generate_metadata.py && exit 0
            sleep 10
          done
          exit 1

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8.0.0
        id: pr
        with:
          path: repo
          branch: create-pull-request/metadata
          title: Metadata auto-sync
          body: Automated changes by "Metadata" GitHub action
          commit-message: Metadata update

      - name: Enable auto-merge
        if: ${{ steps.pr.outputs.pull-request-number }}
        run: gh pr merge --auto --merge ${{ steps.pr.outputs.pull-request-number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}